doctype html
html(lang='en')
	include head.pug
	+head('Plan')
	body
		include header.pug
		+nav('plan')
		main
			.container
				.section
					table.striped
						tr
							th Godziny
							th Poniedziałek
							th Wtorek
							th Środa
							th Czwartek
							th Piątek
						- for(var val = 0; val < lekcje[2].length; val++){
							tr
								td!= godziny[val].Poczatek + ' - ' + godziny[val].Koniec
								td!= lekcje[0][val]
								td!= lekcje[1][val]
								td!= lekcje[2][val]
								td!= lekcje[3][val]
								td!= lekcje[4][val]
						- }
		include footer.pug