mixin nav(page)
	header
		nav.teal(role='navigation')
			.nav-wrapper.container
				ul#komunikator.dropdown-content
					li
						a(href="/komunikator/odebrane/") Odebrane
						a(href="/komunikator/wyslane/") Wysłane
						a(href="/komunikator/napisz/") Napisz

				a#logo-container.brand-logo.white-text(href='#') iDziennik

				ul.right.hide-on-med-and-down
					li(class=page === 'pulpit' ? 'active' : undefined)
						a.white-text(href='/pulpit/') Pulpit

					li(class=page === 'oceny' ? 'active' : undefined)
						a.white-text(href='/oceny/') Oceny

					li(class=page === 'plan' ? 'active' : undefined)
						a.white-text(href='/plan/') Plan

					li(class=page === 'zadania' ? 'active' : undefined)
						a.white-text(href='/zadania/') Zadania


					li(class=page === 'obecnosci' ? 'active' : undefined)
						a.white-text(href='/obecnosci/') Obecności


					li(class=page === 'uwagi' ? 'active' : undefined)
						a.white-text(href='/uwagi/') Uwagi


					li(class=page === 'sprawdziany' ? 'active' : undefined)
						a.white-text(href='/sprawdziany/') Sprawdziany

					li(class=page === 'komunikator' ? 'active' : undefined)
						a.white-text(href="#!", data-activates="komunikator", class="dropdown-button") Komunikator

					li
						a.white-text(href='/logout/') Wyloguj #{name}

				ul#komunikator-m.dropdown-content
					li
						a(href="/komunikator/odebrane/") Odebrane
						a(href="/komunikator/wyslane/") Wysłane
						a(href="/komunikator/napisz/") Napisz

				ul#nav-mobile.side-nav
					li(class=page === 'pulpit' ? 'active' : undefined)
						a(href='/pulpit/') Pulpit

					li(class=page === 'oceny' ? 'active' : undefined)
						a(href='/oceny/') Oceny

					li(class=page === 'plan' ? 'active' : undefined)
						a(href='/plan/') Plan

					li(class=page === 'zadania' ? 'active' : undefined)
						a(href='/zadania/') Zadania
						

					li(class=page === 'obecnosci' ? 'active' : undefined)
						a(href='/obecnosci/') Obecności
						

					li(class=page === 'uwagi' ? 'active' : undefined)
						a(href='/uwagi/') Uwagi
						

					li(class=page === 'sprawdziany' ? 'active' : undefined)
						a(href='/sprawdziany/') Sprawdziany
						

					li(class=page === 'komunikator' ? 'active' : undefined)
						a(href="#!", data-activates="komunikator-m", class="dropdown-button") Komunikator
						
					li
						a(href='/logout/') Wyloguj #{name}
					|  
				a.button-collapse(href='#', data-activates='nav-mobile')
					i.material-icons menu

mixin nav-notloggedin(page)
	header
		nav.teal(role='navigation')
			.nav-wrapper.container
				a#logo-container.brand-logo.white-text(href='#') iDziennik
				ul.right.hide-on-med-and-down
					li(class=page === 'glowna' ? 'active' : undefined)
						a.white-text(href='/') Strona g&lstrok;&oacute;wna
					li(class=page === 'zaloguj' ? 'active' : undefined)
						a.white-text(href='/login/') Zaloguj się
				ul#nav-mobile.side-nav
					li(class=page === 'glowna' ? 'active' : undefined)
						a(href='/') Strona g&lstrok;&oacute;wna
					li(class=page === 'zaloguj' ? 'active' : undefined)
						a(href='/login/') Zaloguj się
					|  
				a.button-collapse(href='#', data-activates='nav-mobile')
					i.material-icons menu